---
- name: Gather only the config and default facts
  cisco.ios.ios_facts:
    gather_subset:
      - config

- name: get ntp servers from config
  set_fact: ntp_server_lines="{{ ansible_net_config | regex_findall('^ntp server (\S+)', multiline=True) }}"

- name: remove ntp servers
  ios_config:
    lines:
      - "no {{ item }}"
  loop: "{{ ntp_server_lines }}"

- name: ntp
  cisco.ios.ios_ntp_global:
    config:
      servers:
        - server: "{{ item }}"
  loop: "{{ ntp_servers }}"