- name: Create a directory if it does not exist
  ansible.builtin.file:
    path: config/parts/{{inventory_hostname}}
    state: directory
    mode: '0755'

- name: write syslog using jinja2
  ansible.builtin.template:
      src: templates/syslog.j2
      dest: config/parts/{{inventory_hostname}}/syslog.cfg

